/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

// @import "@fortawesome/fontawesome-free/scss/fontawesome";
// @import "@fortawesome/fontawesome-free/scss/solid";

@import "@creativebulma/bulma-tooltip/src/sass/index";
// @import "@creativebulma/bulma-tooltip/src/sass/_animation";
// @import "@creativebulma/bulma-tooltip/src/sass/_position";
// @import "@creativebulma/bulma-tooltip/src/sass/_variables";

@import "bulma-pageloader/dist/css/bulma-pageloader";

html.theme-s {
    background-color: #fad82f;
}

html.theme-s .box.themed {
    background-color: #fad82f;
}

html.theme-s .box-out {
    background-color: #0b1d85;
}

html.theme-s .box-in {
    background-color: #bbcfff;
}

html.theme-s .box-user {
    color: lightcyan;
}

html.theme-s nav {
	--background: rgba(255, 0, 0, .1);
}

html nav {
	--background: rgba(255, 255, 255, .7);
}

div.box.box-in.real-top {
    border-style: outset;
    border-color: hsla(102, 100%, 55%, 0.6);
    border-width: thick;
}
