go-f2lb-website

vendor
node_modules
proto/.built
pkg/pb/*.pb.go

webui/node_modules
webui/.svelte-kit
webui/build
webui/src/lib/pb/*_pb.*
webui/src/lib/pb/*_pb_service.*
tests
webui/version.json
package*.json
yarn.lock
webui/yarn.lock
webui/package.json
launch.json
creds.json
