go-f2lb-website

vendor
proto/.built
pkg/pb/*.pb.go

webui/node_modules
webui/.svelte-kit
webui/build
webui/src/lib/pb/*_pb.*
webui/src/lib/pb/*_pb_service.*
webui/version.json
tests
launch.json
creds.json
